body{
    background-image: url("chef.avif");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 60vh;
}
.jobtitle{
    background-color: aliceblue;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgba(0, 255, 255, 0.226);
    margin-bottom: 40vh;
}
.airplane{
    position: absolute;
    top:-1cm;
}